body {
  margin: 0;
  /* font-family: Arial, sans-serif; */
}

/* Webfont */
body,
input,
button {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  color: #272B3A;
}

.header {
  background-color: #4F5D75;
  padding: 10px 0;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin-right: 20px;
}

.header nav ul li a {
  text-decoration: none;
  color: white;
}

.header nav ul li a.active {
  font-weight: bold;
}

.reservation {
  margin: 20px auto;
  width: 80%;
}

.reservation h1 {
  margin-bottom: 20px;
}

.reservation label {
  display: block;
  margin-bottom: 5px;
}

.reservation input[type="text"],
.reservation input[type="email"],
.reservation input[type="tel"],
.reservation input[type="date"] {
  /* width: 100%; */
  padding: 8px;
  /* margin-bottom: 10px; */
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reservation button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: rgb(105, 97, 97);
  cursor: pointer;
}

.reservation button:hover {
  background-color: #007F7D;
}

/* Alex HF additions -- Thurs PM */

nav.primary-nav ul {
  display: flex;
  justify-content: space-between;
}

/* Last list item on the right */
nav.primary-nav ul li:last-child {
  margin-left: auto;
}

nav ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  background-color: #3b475e;
}

h1 {
  margin-top: 3rem;
  font-size: 3rem;
}

form.reservation-form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

form.reservation-form input {
  /* width: calc(100% - 4rem); */
}

.reservation input[type="date"] {
  width: calc(100% - 1.2rem);
}

button.submit-button {
  align-self: flex-end;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.5rem;
}

button.submit-button:hover {
  background-color: #007F7D;
  color: white;
}

.mb-2 {
  margin-bottom: 2rem;
}