body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #272B3A;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

header .container a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}

h1 {
    color: #009E9C;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #272B3A;
    border-radius: 5px;
}

button {
    background-color: #009E9C;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007F7D;
}